@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Silkscreen&display=swap");

:root {
  --text: "Courier Prime", monospace;
  --headerText: "Silkscreen", cursive;
}

body {
  background: url(./resources/black-scanline-theme.jpg);
}

.centerImage {
  background: url(./resources/centre-logo_skull-on-black_v2.png);
  opacity: 25%;
}

p,
span,
li {
  color: white;
  font-family: var(--text);
}

li {
  font-style: italic;
  cursor: pointer;
}

hr {
  border: 4px ridge grey;
}

.welcome {
  display: flex;
  justify-content: center;
  align-content: center;
}

.page {
  min-height: 99vh;
  min-width: 97vh;
}

.border {
  border: 4px ridge grey;
  margin: 0px;
  padding: 0px;
}

.header {
  padding: 10px;
}

.hover:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.toggler {
  background: grey;
  color: black;
  border: 4px ridge white;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  writing-mode: vertical-rl;
  position: absolute;
  top: 48%;
  padding: 3px;
}

.helpToggler {
  left: -5px;
}

.softwareToggler {
  right: -5px;
}

.sectionToggler {
  background: none;
  text-align: center;
  text-transform: uppercase;
}

.sectionToggler:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.inlineBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inlineBoxLeft {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.alertBox {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-height: 15%;
  max-width: 40%;
  border: 4px ridge white;
  background-color: #9b9b9b;
  padding: 20px !important;
}

.alertText {
  text-align: center;
  font-size: 18pt;
  color: #000000;
}

.alertButton {
  width: 100%;
  margin-right: 10px;
  background: none;
  color: #000000;
  border: 1px solid black;
  cursor: pointer;
}

.alertButton:hover {
  background: white;
}

form {
  width: 50%;
}

input,
textarea {
  background: none;
  color: white;
  font-family: var(--text);
  font-size: 12pt;
  border: none;
  width: 100%;
  box-sizing: border-box !important;
  caret: white underscore !important;
}

input:active,
input:focus,
input:focus-visible {
  border: none !important;
  outline: none !important;
}

.panels {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.panel {
  min-height: 78vh;
}

.sidePanel {
  flex-grow: 0;
  width: 25%;
}

.centrePanel {
  flex-grow: 4;
  background-image: url(./resources/centre-logo_skull-on-black_v2_33op.png);
  background-repeat: no-repeat;
  background-position: center;
}

.cmdReturn {
  height: 46vh;
}

.sidebarHeader {
  text-align: center;
  font-size: 18pt;
  font-family: var(--headerText);
  font-style: italic;
}

.headerText {
  font-family: var(--headerText);
  font-style: italic;
  text-transform: capitalize;
  margin: 0px;
}

.terminalText {
  font-size: 12pt;
  padding-left: 10px;
  padding-right: 10px;
}

.blockText {
  text-align: justify;
  font-size: 12pt;
  padding: 10px;
}

button {
  background: none;
  padding: 10px;
  color: white;
}

.scroll {
  max-height: 10px;
  overflow: scroll;
}
